@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap');
:root {
    --zeleniy: #54d154;
    --tzeleniy: #2b9b2b;
    --green: #3eba3e;
}
html {
    scroll-behavior: smooth;
}
.container {
    max-width: 1100px;
    margin: auto;
}
.zeleniybg { background: var(--zeleniy) }
.zeleniybg h2, .zeleniybg h6 { color: var(--tzeleniy) }
.zeleniybg hr { border-top: 1px solid var(--tzeleniy) }
.greenbg { background: var(--green) }
.graybg {background: #333333}
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background: url('../img/headerbg.jpg') center/cover;
    text-align: center;
}
nav { padding: 0 20px;}
#logo img {
    padding: 6px;
}
header form {
    padding: 5px;
}
#menu li {
    padding: 5px;
    border-top: 5px solid rgba(0,0,0,0);
    margin: 0 10px;
}
#menu li a {
    font: 1em Roboto;
    color: #fff;
    white-space: nowrap;
}
.active {
    font-weight: bold;
}
#search input {
    border: none;
    outline: none;
    padding: 6px 10px;
    background: rgba(255,255,255,.8) url('../img/search.svg') right no-repeat;
    border-radius: 15px;
    font: 1em Roboto;
    color: #111;
}
#search input::placeholder {
    color: #111;
}
#topic { text-align: center; }
#topic h1 {
    padding: 30px 10px;
    font: bold 2em Montserrat;
    color: #fff;
}
#topic button {
    background: var(--zeleniy);
    padding: 14px 25px;
    border: none;
    outline: none;
    border-radius: 25px;
    font: 1em Roboto;
    color: #fff;
    text-transform: uppercase;
}
#scroll {
    background: rgba(255,255,255,.8);
    padding: 7px 15px;
    border-radius: 15px;
    margin: 15px;
    font: 1em Roboto;
    color: #111;
    text-align: center;
}
main > section {
    padding: 40px 0 50px 0;
    text-align: center;
}
main > section  hr {
    width: 45px;
    border: none;
    border-top: 1px solid #828181;
}
#about article {
    padding: 30px;
}
#about article p {
    font: .95em/1.2 Montserrat;
    color: #828181;
}
#about article button {
    padding: 8px 20px;
    color: #fff;
    background: var(--zeleniy);
    border: none;
    border-radius: 17px;
    font: bold 1em Roboto; 
    margin-top: 25px;
}  
h2 {
    font: 1.3em Montserrat;
    color: #828181;
    text-transform: uppercase;
}
h3 {
    font: bold 1.5em Roboto;
    color: #828181;
    padding: 25px 0;
}
h6 {
    font: 1em Roboto;
    color: #b7b3b3;
}
.icon {
    display: inline-block;
    padding: 30px;
    background: #e1f3e1;
    border-radius: 25px;
}
.icon .fas {
    color: var(--zeleniy);
    font-size: 5em;
}
#buttons {
    display: flex;
    justify-content: center;
    margin: 50px 0 20px 0;
}
#buttons button, #designb {
    border: 1px solid var(--tzeleniy);
    padding: 8px 20px;
    color: var(--tzeleniy);
    background: #FFF;
    outline: none;
}
#buttons button:first-child { border-radius: 17px 0 0 17px }
#buttons button:last-child { border-radius: 0 17px 17px 0 }
.bactive, #buttons button:hover { 
    background: var(--tzeleniy)!important;
    color: #FFF!important;
}
#designb {
    background: var(--tzeleniy)!important;
    color: #FFF!important;
    border-radius: 17px;
    margin: 40px 0 0 0;
}
#gallery > img {
    width: 90%;
    margin: 5px 0;
    object-fit: cover;
 }
#slider {
     display: flex; 
     justify-content: space-between; 
     align-items: center;
     padding: 60px 0 0 0;
}
#slider div { flex-basis: 500px}
#slider p { 
        font: 1em/1.2 Roboto;
        color: #444;
        padding: 10px 0;
}
#slider img {
    float: left;
    padding-right: 8px;
}
#slider p span {
    display: block;
    font-weight: bold; 
    color: #ccc;
    white-space: nowrap;
    padding-top: 5px;
}
.arrows {
    background: none;
    border: none;
    outline: none;
    font: bold 2em Roboto;
    color: #e0dfdf;
    cursor: pointer;
}
#clients {
    background: #f1f1f1;
}

#brands {
    margin: 40px 0;

}

#brands img { 
    margin: 30px 40px;
    object-fit: cover;
    max-width: 250px;
}

.bcontainer {
    max-width: 920px;
    margin: auto;
}

.bcontainer > button {
    background: #dddcdc;
    padding: 10px 25px;
    border: none;
    outline: none;
    border-radius: 25px;
    font: 1em Roboto;
    color: #b8b2b2;
}

#teamprof {
    padding: 50px 0 0 0;
}

#teamprof > article {
    width: 125px;
    margin: auto;
    padding-bottom: 60px;
}

.vl {
  border-left: 2px solid #207b20;
  height: 77px;
  margin: 10px 0 10px 60px;
}

h5 {
    font: bold 1em Roboto;
    color: #fff;
}

#socialcircle {
    width: 84px;
    padding: 5px 5px 2px 5px;
    background: #c5e9c5;
    border-radius: 25px;
    margin: 10px 0 0 20px;
}

#workbutton > button {
    background: var(--zeleniy);
    padding: 14px 25px;
    border: none;
    outline: none;
    border-radius: 25px;
    font: 1em Roboto;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

#contact {
    color: #ddd;
}

#aboutus {margin: 0 10px 20px 10px;}

#aboutus p {
    font: 1em/1.5 Roboto;
    color: #ccc;
    padding: 17px 0;
    text-align: center;

}

#socialcircle1 {
    width:84px;
    margin: auto;
    padding: 5px 5px 2px 5px;
    background: #e6e7e6;
    border-radius: 25px;
}

#recent img {
    float: left;
    clear: both;
    margin-bottom: 15px;
}

#recent h4 {
    text-align: left;
    font: 0.8em Montserrat;
    text-transform: uppercase;
    padding: 0;
}

}

#recent p {
    text-align: left;
    font: 1em Montserrat;
    color: #ddd;
}

#brands1 {
    margin: 40px 0;

}

#brands1 img { 
    margin: 30px 35px;
    object-fit: cover;
    max-width: 250px;
}

#contactus p{
    font: 0.8em Roboto;
    text-align: center;
    color: #ccc;
    padding-bottom: 2px; 
}

form {
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
}

#form {
    font: 1em Roboto;
    color: #777;
    border: none;
    outline: none;
    background: #444;
    padding: 10px 120px 10px 10px;
    margin-bottom: 3px;
}

#contactus > form > input:first-child {
    border-radius: 3px 3px 0 0;
    margin-top: 25px;
}

#contactus > form > textarea {
    font: 1em Roboto;
    color: #777;
    border: none;
    outline: none;
    background: #444;
    padding: 10px 120px 100px 10px;
}

#bsend {
    text-align: center;
    font: 1em Roboto;
    padding: 10px 0 10px 10px;
    border: none;
    outline: none;
    color: #fff;
    background: #2b9b2b;
    border-radius: 0 0 3px 3px;

}

.postrecent {
    display: flex;
    flex-direction: column;
}

.postrecent  p{
    font: 1em Montserrat;
    color: #ccc;
    text-align: left;
}

.postrecent  button {
    font: 0.75em Montserrat;
    color: #fff;
    float: left;
    text-align: center;
    text-transform: uppercase;
    border: none;
    outline: none;
    padding: 4px 8px;
    border-radius: 3px;
    margin-top: 5px;
}

.postrecent img{
    margin-right: 7px;
    margin-left: 10px;
}

footer > section > p {
    font: 1em Roboto;
    text-align: center;
    color: #fff;
    padding: 5px 0;
}

@media only screen and (min-width: 768px) {
    #menu, #logo, #search { flex-basis: 33% }
    #search { text-align: right }
    nav { width: 100%; display: flex; justify-content: space-between; align-items: flex-start; }
    #menu { order: -1; display: flex; }
    #menu li:hover, .active { border-top: 5px solid var(--zeleniy)!important }
    #topic h1 { font-size: 3.4em }
    #topic button { font-size: 1.3em }
    #about { display: flex }
    #gallery { display: flex; flex-wrap: wrap; }
    #gallery > img { width: 18%; height: 160px; margin: 1%; }
    #teamprof {display: flex; justify-content: space-between;}
    #contact {display: flex;}
    #contact article {width: 33%; padding: 10px 40px}
    #brands1 img { max-width: 500px;}
    
}
